{## Start with  defaults from defaults.sls ##}
{% import_yaml 'patchwork/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('patchwork:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.patchwork.update(os_family_map) %}

{## Merge in patchwork:lookup pillar ##}
{% set patchwork = salt['pillar.get'](
        'patchwork',
        default=default_settings.patchwork,
        merge=True
    )
%}

# vim: ft=jinja
