{% from "patchwork/map.jinja" import patchwork with context -%}
[retriever]
type = SimpleIMAPSSLRetriever
server = {{ patchwork.mail.server }}
port = {{ patchwork.mail.port }}
username = {{ patchwork.mail.username }}
password = {{ patchwork.mail.password }}
mailboxes = ALL

[destination]
# we configure Patchwork as a "mail delivery agent", in that it will
# handle our mails
type = MDA_external
path = {{ [patchwork.home, patchwork.distdir, 'patchwork/bin/parsemail.sh']|join('/') }}

[options]
# retrieve only new emails
read_all = false
# do not add a Delivered-To: header field
delivered_to = false
# do not add a Received: header field
received = false
