{% from "patchwork/map.jinja" import patchwork with context -%}
[program:getmail]
command=/usr/bin/getmail --getmaildir={{ getmaildir }} --idle INBOX
user={{ patchwork.user }}
directory={{ patchwork.home }}
environment=PW_PYTHON="{{ [patchwork.venv, 'bin', 'python']|join('/') }}",DJANGO_SECRET_KEY="{{ patchwork.secret_key }}"
stdout_logfile={{ patchwork.home }}/getmail.log
stderr_logfile={{ patchwork.home }}/getmail.log
autostart=true
autorestart=true
