{%- from "patchwork/map.jinja" import patchwork with context %}
{%- if 'server_name' in patchwork %}
    {%- set default_server = '' %}
    {%- set server_names = [patchwork.server_name] if patchwork.server_name is string else patchwork.server_name %}
{%- else %}
    {%- set default_server = ' default_server' %}
    {%- set server_names = ['_'] %}
{%- endif -%}
server {
    listen 80{{ default_server }};
    listen [::]:80{{ default_server }};

    server_name {{ ' '.join(server_names) }};
    location /static {
        alias {{ patchwork.static_root }};
        expires 3h;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://unix:{{ patchwork.home }}/patchwork.sock;
    }
}
