{% from "patchwork/map.jinja" import patchwork with context -%}
[program:patchwork]
command={{ patchwork.venv }}/bin/gunicorn patchwork.wsgi:application --bind unix://{{ patchwork.home }}/patchwork.sock
user={{ patchwork.user }}
directory={{ patchwork.home }}
environment=PYTHONPATH="{{ [patchwork.home, patchwork.distdir]|join('/') }}",DJANGO_SECRET_KEY="{{ patchwork.secret_key }}"
stdout_logfile={{ patchwork.home }}/patchwork.log
stderr_logfile={{ patchwork.home }}/patchwork.log
autostart=true
autorestart=true
